.bg-gray{
    background-color: gray;
    display: grid;
   justify-content: space-between;
   
}

@media (max-width) {
    .bg-gray {
        flex-direction: column;
        justify-content: space-around;
    }
}